@import url('theme.css');

.card{
   background: var(--card);
   box-shadow: 0 0 7px var(--highlight);
    max-width: 400px ;
    width: 100%;
    flex-direction: column;
    border-radius: var(--page-unit);
}
.link-btn{
    width: 100%;
    margin: 0.5rem auto;
    padding: 0.4rem;
    border-radius: 10px;
  
    font-family: poppins, sans-serif;
    font-size: 1rem;
}
.link-card{
    background: var(--highlight);
    padding: 4rem 1rem;
    width:100%;
}